body {
    background-color: white; 
    border: 0px ;
    margin: 0px ; 
    font-family: 'Sunflower', serif;

}

header{
   
background-color: white;
height: 87px ; 
border-bottom: 3px solid #EE4957   ;

}


header img {
    float: left ; 
    margin-left: 85px ;
    margin-top: 8px ;
    height: 70px ;
    width: 200px ; 
    display: inline ; 
}

header a {
    overflow: hidden;
    display: block ; 
    float: right ;
    text-decoration: none ; 
    text-align: center ; 
    color:  #3282C1 ;
    padding: 5px 10px; 
    margin-top: 25px ; 
    margin-right: 25px ; 
    font-size: 25px;
    font-weight: bold;

}


h2.adm {
    text-align: center ; 
    color: #444444 ; 
    font-size: 30px ; 
    margin-top: 18px ;
}

div {
    align-items: flex-end ; 
}

label{
    display: block; 
    font-size: 25px ; 
    margin-top: 10px ; 
}

form {
    border: solid 1px #3282C1  ; 
    display: flex ; 
    flex-direction: column ;
    justify-content: center ;
    width: 30% ;
    height: 30% ;
    margin-left: 31% ;
    margin-top: 4% ; 
    padding: 50px ;
    color: #444444 ; 
    border-radius: 4px ; 
}
input[type="text"] , input[type="password"]  {
    height: 30px ; 
    font-size: 20px ; 
    border-radius: 4px ; 
        border: 1px solid #444444 ;

}

input[type="submit"] {
    margin-top: 35px ; 
    height: 30px ; 
    background-color: #75B44B ; 
    cursor: pointer ; 
    border: 0px ;  
    border-radius: 4px ; 
    color: white ;
    font-size: 18px ; 
    
    
}

footer{
   background-color:  #235C93 ; 

}