body {
    background-color: white; 
    border: 0px ;
    margin: 0px ; 
    font-family: 'Sunflower', serif;

}

header{
   
background-color: white;
height: 87px ; 
border-bottom: 3px solid #EE4957   ;

}


header img {
    float: left ; 
    margin-left: 85px ;
    margin-top: 8px ;
    height: 70px ;
    width: 200px ; 
    display: inline ; 
}

header a {
    overflow: hidden;
    display: block ; 
    float: right ;
    text-decoration: none ; 
    text-align: center ; 
    color:  #3282C1 ;
    padding: 5px 10px; 
    margin-top: 25px ; 
    margin-right: 25px ; 

}



/*.posta {
    color : #EE4957 ; 
    margin-right: 50px ; 
}

.posta {
        background-color: #F1F1F1;
}

a.posta:hover {
    background-color: #DBDBDB ; 
}*/

/*
body{
font-family: arial;
background-image: url(bc1.jpg) ; 
margin : 0px ; 

}
header{
display: flex ; 
background-color: #F1F1F1;
height: 100px ; 
}

#myDIV {
   display : none ;
    width: auto ; 
}

.buttonR {
    overflow: hidden;
    display: block ; 
    float: left ;
    text-decoration: none ; 
    padding: 4px 16px;
    background-color: #3282C1 ;  
    color: white ;
    border: 0px ; 
    font-size: 18px ; 
}

.buttonR:hover {
    background-color: #235C93 ;
    border-color: #235C93 ; 
}




.recherche {
    
    overflow: hidden;
    display: block ; 
    float: left ;
    text-decoration: none ;
    padding: 4px
    
    
}


header img {
    margin-left: 85px ;
    margin-top: 20px ;
    height: 65px ;
    width: 190px ; 
}

header a {
    margin-left: 880px ; 
    margin-top: 25px ; 
    text-decoration: none ; 
    font-size: 35px ;
    color:  #235C93  ;

    

}

header a:hover { 
    text-decoration: none ; 
    color :  #EE4957;

}

nav {
   
    height: 35px ; 
	background-color: #3282C1 ;   
    width: 100% ;

}

nav a {
    overflow: hidden;
    display: block ; 
    float: left ;
    text-align: center ; 
    text-decoration: none ; 
    padding: 4px 10px;
    font-size: 20px ;
    color :  white;
    font-weight: 700 ; 
    

    
}

nav a:hover {
   
    text-decoration: none ; 
    font-size: 20px ;
    color : white  ;
    padding: 4px 10px  ;
    padding-bottom: 0px ; 
    background-color: #235C93 ;   
}


*/


/*nav .aja  {
    overflow: hidden;
    display: block ; 
    float: right ;
    margin-right: 70px ;
    margin-top: 2px ; 
    text-align: center ; 
    text-decoration: none ; 
    color :  #3282C1;
    background-color:  #FDCB5C;
    font-weight: 700 ;
    padding: 4px ; 
    
}

nav .aja:hover {
    overflow: hidden;
    display: block ; 
    float: right ;
    margin-right: 70px ;
    margin-top: 2px ; 
    text-align: center ; 
    text-decoration: none ; 
    color :  white;
    background-color: #235C93 ;   

    font-weight: 700 ;
    padding: 4px ; 
   
    
}*/





#msg1 ,  #msg1a , #msg2 , #msg2a , #msg3 ,  #msg3a , #msg3b , #msg4 , #msg4a ,  #msg4b , #msg5 , #msg5a , #msg5b , #msg6  , #msg11   {
    margin-bottom: 0px ; 
    margin-top: 0px ; 
    padding: 0px ;  
    margin-left: 15px ; 
    color : #EE4957; 
    font-weight: bold; 
}

#msg7 ,  #msg11a , #msg11b , #msg6x , #msg7 ,  #msg7a , #msg7b , #msg8, #msg9, #msg10 , #msg5x , #msg5ax , #msg5bx , #msg6z , #msg6azz, #msg5z , #msg5az , #msg5bz {
    margin-bottom: 0px ; 
    margin-top: 0px ; 
    padding: 0px ;  
    margin-left: 15px ; 
    color : #EE4957;
    font-weight: bold; 

    
}

#msg3o ,  #msg3ao , #msg3bo, #msg6e, #msg6ae{
    margin-bottom: 0px ; 
    margin-top: 0px ; 
    padding: 0px ;  
    margin-left: 15px ; 
    color : #EE4957;
    font-weight: bold; 

}

#msg6ax , #msg6a{
     margin-bottom: 0px ; 
    margin-top: 0px ; 
    padding: 0px ;  
    color : #EE4957;
    font-weight: bold; 
}



#formulaire label{
	display: block;
	width: 180px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
    font-size: 16px;
    color: #444444;
    font-weight: bold;
    margin-left: 10px ; 
    margin-top: 25px ; 
}

/*#Logement div label{
	width: 70px;
    margin-left: 0px ; 
        margin-top: 20px ; 

}*/


#formulaire{
	margin-left: 20%; margin-right: 21%;
	padding-left: 5%; padding-right: 5%;
	padding-bottom: 10px;
}


#formulaire div input,#formulaire textarea,#formulaire select{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

#formulaire div input[type="text"],#formulaire textarea,#formulaire select,#formulaire div input[type="date"], input[type="number"], #formulaire div input[type="email"],#formulaire div input[type="time"]{
	width: 620px;
    border-radius: 4px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 10px 18px;
        margin-left: 10px ; 
        margin: 10px ;
    font-size: 16px ; 
}

.travail {
    margin-bottom: 0px ; 
}

input[type="radio"]{
	padding: 70px;
    margin-bottom: 0px ; 
    margin-left: 70px ; 
}


/*#date input,#date select{
	width: 50px;
}*/
#formulaire h3{
	font-family: calibri;
    font-weight: 600;
    margin-top: 30px; 
    padding: 3px 10px 3px 10px;
    background-color: #3282C1 ;
    color: white ; 
    font-size: 20px ; 

}
#valider{
	padding: 8px;
	margin-top: 30px;
	margin-bottom: 5%;
	background-color: #3282C1 ;   
	color: white;
	font:bold 15px Arial;
	border-radius:5px;
	width:250px;
	text-decoration: none;
    border: 0; 
    margin-left: 600px ; 
    cursor: pointer;


}


span{
	color: #3282C1 ;
}


footer{
   background-color:  #235C93 ; 

}